@model List<Fundraiser_1>
@{
    var flist = TempData["flist"] as List<Fundraiser_1>;
}

<form method="post">
    @using (Html.BeginForm("SearchForFundraiser", "Search")){
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="mb-3">
                
                <input placeholder="Search for fundraisers" class="form-control" name="search"/>
                <button class="btn btn-primary" asp-action="SearchForFundraiser" asp-controller="Search">Search</button>
                
            </div>
            <br /> <br />
            <p>Search results:</p>
            <hr />

                @if (flist != null)
                {
                    @foreach (var f in flist)
                    {
                        @Html.ActionLink(@f.FundraiserName, "ShowData", "Fundraiser", new {FundraiserName = @f.FundraiserName,
                                         Description = @f.FundraiserDescription, CurrentAmount = @f.FundraiserCurrentAmount,
                                         Goal = @f.FundraiserGoal}, null );
                        <br />
                    }
                }
                
        </div>
    </div>
    }
</form>
