@model Fundraiser_1
@{
    ViewData["Title"] = "Home Page";

    var fundraiserName = TempData.Peek("FundraiserName");
    var fundraiserDescription = TempData["Description"];
    var currentAmount = TempData["CurrentAmount"];
    var goal = TempData["Goal"];
    var owner = TempData["Owner"];

    var donors = TempData["list"] as List<string>;
    var size = TempData["donorsnumber"];
}

<h1>@fundraiserName</h1>
<br />
<br />

<table class="table table-borderless" style="width:100%">
    <thead>
        <tr>
            <th>
                Fundraiser Picture
            </th>
            <th>
                Fundraiser Info
                <hr />
                @fundraiserDescription
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td width="60%">
                <card>

                </card>
            </td>
            <td width="40%">
                <card>
                    <p>
                        Progress bar for collected money      
                        
                        <div class="container">
                            <div id="progressBar">
                                <div id="progressBarFull"></div>
                            </div>
                        </div>
                        <style type="text/css">
                            #progressBar {
                                width: 20rem;
                                height: 2rem;
                                border: 0.3rem solid green;
                                margin-top: 1.5rem;
                                background-color: gray;
                                text-align: right;
                                line-height: 2rem;
                                color: black;
                            }

                            #progressBarFull{
                                height: 1.4rem;
                                background-color: green;
                                width: 0%;
                                text-align: center;
                                line-height: 1.4rem;
                                color: black;
                            }
                        </style>
                        
                        <script type="text/javascript">
                            const progressBarFull = document.getElementById('progressBarFull');
                            const progressBar = document.getElementById('progressBar');
                            let currantAmount = '@(TempData["CurrentAmount"])';
                            let goal = '@(TempData["Goal"])';
                            if (currantAmount > goal)
                            {
                                progressBarFull.style.width = `100%`;
                                progressBarFull.innerHTML = "$" + currantAmount;
                            }
                            else
                            {
                                progressBarFull.style.width = `${(currantAmount / goal) * 100}%`;
                                progressBarFull.innerHTML = "$" + currantAmount;
                            }
                            
                        </script>

                        <hr />
                        <b>Goal: </b>@goal
                        <br />
                        <b>Already collected: </b>@currentAmount
                    </p>
                    <p>
                        <b>Number of donors: </b>@size
                    </p>
                    <p>
                        @Html.ActionLink("DONATE", "MakeDonation", "Donation", new {FundraiserName = @fundraiserName}, null);
                    </p>
                    <p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Edit", "Edit", "Fundraiser", new {FundraiserName = fundraiserName,
                                            FundraiserDescription = fundraiserDescription, FundraiserGoal = goal, Owner = owner}, null);                            
                        }
                    </p>
                    <p>                        
                        <b>List of recent donors:</b>
                        @foreach(var don in donors)
                        {
                            <p>@don</p>
                        }
                    </p>                    
                </card>
            </td>
        </tr>
    </tbody>
</table>

